.sidenav {
  width: 20rem;
  background: #1a1a1a;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: all 0.3s;
  z-index: 1;
}

.sidenav.active {
  left: 0;
}

.logo {
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 15px 0;
}

ul li .link {
  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px 15px;
}

ul li .link:hover {
  background: rgba(255, 255, 255, 0.11);
  color: #eaecef;
  border-left: 1px solid #ccc;
}

.selected {
  background: rgba(255, 255, 255, 0.11);
  color: #eaecef;
  border-left: 1px solid #ccc;
}
